<!-- Start Welcome -->
<div class="bg-text bg-welcome logged-out">
    <div class="container">
        <div class="center-content">
            <div class="center-content-inner">
                <h1 class="h2 i18n"><?=_('Welcome to Dapinqing'); ?></h1>

                <div class="bg-text-buttons">
                    <a href="#register-employers" class="btn btn-primary btn-large i18n"><?=_('For employers'); ?></a>
                    <a href="#register-employees" class="btn btn-primary btn-large i18n"><?=_('For employees'); ?></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Welcome -->
{{#if industry_categories}}
<!-- Start Category-filter -->
<nav class="category-filter sticky-bar">
    <div class="filter-by">
        <div class="label"><span class="i18n"><?=_('Filter by category'); ?></span>:</div>
        <div class="category-filter-nav">
        {{#each industry_categories}}
            <a href="#" data-cat="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</a>
        {{/each}}
            <a href="#" data-cat="" class="reset-filter i18n"><?=_('Reset filter'); ?></a>
        </div>
    </div>

    <button id="category-filter" class="filter-btn">
        <i class="fa fa-chevron-down"></i>
    </button>
</nav>
<!-- End Category-filter -->
{{/if}}

<!-- Start Main -->
<main>
    <div class="container">

{{#is_student}}
        <div class="only-students" data-template-filename="videos/search-form.handlebars.html"></div>
{{/is_student}}
{{#is_mentor}}
        <div class="only-mentors" data-template-filename="candidates/search-form.handlebars.html"></div>
{{/is_mentor}}

{{#if hiring_pools}}
    <div class="viewport auction-group">
        {{#if me}}
            {{#if me.is_student}}
        <h2 class="i18n"><?=_('Open Auctions');?></h2>
            {{else}}
        <h2 class="i18n"><?=_('Active Auctions');?></h2>
            {{/if}}
        {{else}}
        <h2 class="i18n"><?=_('Auctions');?></h2>
        {{/if}}
        <div class="flipsnap" id="home-hiring-pools">
            {{#each hiring_pools}}
                <a href="#auction?id={{id}}" class="item {{#if ../me.is_student}}for_candidates{{/if}} ui-link">
                    <div class="info">
                        <div class="content">
                            <div class="i18n name auction-title" data-i18n-zh_cn="{{industry_name_zh}}"><span><i class="fa fa-star-half-o" aria-hidden="true"></i>{{industry_name_en}}</span></div>
                {{#if ../me}}
                    {{#if ../me.is_student}}
                            <p><span class="i18n"><?=_('Open date');?></span>: {{open_date_human}}</p>
                            <p><span class="i18n"><?=_('Close date');?></span>: {{close_date_human}}</p>
                            <p><span class="i18n"><?=_('End date');?></span>: {{end_date_human}}</p>
                    {{else}}
                            <p><span class="i18n"><?=_('Auction start date');?></span>: {{auction_date_human}}</p>
                            <p><span class="i18n"><?=_('End date');?></span>: {{end_date_human}}</p>
                    {{/if}}
                {{else}}
                            <p><span class="i18n"><?=_('Start date');?></span>: {{open_date_human}}</p>
                            <p><span class="i18n"><?=_('End date');?></span>: {{end_date_human}}</p>
                {{/if}}
                            <p class="description">{{description_short}}{{#compare description.length '>' 200}}...{{/compare}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
{{/if}}

        <div class="row banner-list">
{{#if banner_ads.988x55}}
        <!-- Start 988x55 banners -->
    {{#each banner_ads.988x55}}
            <!-- Start 988x55 banner -->
            <div class="full-col">
                <div class="dropdown-container banner banner-full cat-{{industry_category_id}}">
                    <a href="#">
                        <img src="{{uri}}" alt="..." />
                        {{#if videos}}
                            <div class="banner-icon">
                                <i class="fa fa-plus"></i>
                            </div>
                        {{/if}}
                    </a>
                {{#if videos}}
                    <div class="dropdown">
                        <!-- Start Dropdown body -->
                        <div class="dropdown-bd">
                            <div class="row">
                                <div class="dropdown-links">
                                    <ul>
                                    {{#each videos}}
                                        <li><a href="#video?id={{id}}">{{title}}</a></li>
                                    {{/each}}
                                    </ul>
                                </div>
                                {{#if user_bio}}
                                    <div class="dropdown-info">
                                        <p class="line-breaks" style="padding: 0;">{{user_bio}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <!-- End Dropdown body -->

                        <!-- Start Dropdown Footer -->
                        <div class="dropdown-footer">
                            <div class="row">
                                <div class="dropdown-footer-col">
                                    <a href="#videos?mentor_id={{user_id}}" class="read-more"><span class="i18n"><?=_('More jobs'); ?></span> <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="dropdown-footer-col">
                                    <a href="#mentor?id={{user_id}}" class="read-more"><span class="i18n"><?=_('Company profile'); ?></span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown Footer -->
                    </div>    
                {{/if}}
                </div>
            </div>
            <!-- End 988x55 banner -->
    {{/each}}
        <!-- End 988x55 banners -->
{{/if}}

{{#if banner_ads.322x55}}
        <!-- Start 322x55 banners -->
    {{#each banner_ads.322x55}}
            <!-- Start One third banner -->
            <div class="banner-three-col">
                <div class="dropdown-container banner cat-{{industry_category_id}}">
                    <a href="#">
                        <img src="{{uri}}" alt="..." />
        {{#if videos}}
                        <div class="banner-icon">
                            <i class="fa fa-plus"></i>
                        </div>
        {{/if}}
                    </a>
        {{#if videos}}
                    <div class="dropdown">
                        <!-- Start Dropdown body -->
                        <div class="dropdown-bd">
                            <div class="row">
                                <div class="dropdown-links">
                                    <ul>
            {{#each videos}}
                                        <li><a href="#video?id={{id}}">{{title}}</a></li>
            {{/each}}
                                    </ul>
                                </div>
            {{#if user_bio}}
                                <div class="dropdown-info">
                                    <p class="line-breaks" style="padding: 0;">{{user_bio}}</p>
                                </div>
            {{/if}}
                            </div>
                        </div>
                        <!-- End Dropdown body -->

                        <!-- Start Dropdown Footer -->
                        <div class="dropdown-footer">
                            <div class="row">
                                <div class="dropdown-footer-col">
                                    <a href="#videos?mentor_id={{user_id}}" class="read-more"><span class="i18n"><?=_('More jobs'); ?></span> <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="dropdown-footer-col">
                                    <a href="#mentor?id={{user_id}}" class="read-more"><span class="i18n"><?=_('Company profile'); ?></span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown Footer -->
                    </div>
        {{/if}}
                </div>
            </div>
            <!-- End One third banner -->
    {{/each}}
        <!-- End 322x55 banners -->
{{/if}}
        </div>

        <!-- Start Letters filter -->
        <div class="search-filter">
            <div class="dropdown-container box">
                <div class="box-header">
                    <h3><i class="fa fa-search"></i> <span class="i18n"><?=_('Filter by job position'); ?></span></h3>
                </div>
                <div class="box-bd">
{{#foreach filter_letters}}
    {{#isNotEmptyArray item}}
                    <div class="filter-letter">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{key}}</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-bd">
                                <ul>
        {{#foreach item}}
                                    <li><a href="#videos?q=&q_position-{{item.id}}=1" data-i18n-zh_cn="{{item.name_zh}}" onclick="$.core.redirect($(this).attr('href')); return false;">{{item.name_en}}</a></li>
        {{/foreach}}
                                </ul>
                            </div>
                        </div>    
                    </div>
    {{/isNotEmptyArray}}
{{/foreach}}
                </div>
            </div>
        </div>
        <!-- End Letters filter -->

        <!-- Start News Section -->
<!--
        <div class="row">
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        <!-- End News Section -->

{{#if banner_ads.155x55}}
        <div class="row banner-list">
        <!-- Start 155x55 banners -->
    {{#each banner_ads.155x55}}
            <!-- Start One sixth banner -->
            <div class="banner-six-col dropdown-single">
                <div class="dropdown-container banner cat-{{industry_category_id}}">
                    <a href="#">
                        <img src="{{uri}}" alt="..." />
        {{#if videos}}
                        <div class="banner-icon">
                            <i class="fa fa-plus"></i>
                        </div>
        {{/if}}
                    </a>
        {{#if videos}}
                    <div class="dropdown">
                        <!-- Start Dropdown body -->
                        <div class="dropdown-bd">
                            <div class="row">
                                <div class="dropdown-links">
                                    <ul>
            {{#each videos}}
                                        <li><a href="#video?id={{id}}">{{title}}</a></li>
            {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown body -->

                        <!-- Start Dropdown Footer -->
                        <div class="dropdown-footer">
                            <div class="row">
                                <div class="dropdown-footer-col">
                                    <a href="#mentor?id={{user_id}}" class="read-more"><span class="i18n"><?=_('Company profile'); ?></span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown Footer -->
                    </div>
        {{/if}}
                </div>
            </div>
            <!-- End One Sixth banner -->
    {{/each}}
        <!-- End 155x55 banners -->
        </div>
{{/if}}

        <!-- Start Eight section banner -->
<!--
        <div class="banner-list">
            <div class="box">
                <div class="box-header">
                    <h3>Some title</h3>
                </div>
                <div class="box-bd">
                    <div class="row">

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-1.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-2.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-3.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-4.jpg" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-1.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-4">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-2.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-8">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-3.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-9">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-4.jpg" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
-->
        <!-- End Eight section banner -->

        <!-- Start Four column section -->
<!--
        <div class="banner-list">
            <div class="box">
                <div class="box-header">
                    <h3 class="i18n"><?=_('Some title'); ?></h3>
                </div>
                <div class="box-bd">
                    <div class="row">

                        <div class="banner-four-col">
                            <div class="dropdown-container banner align-center cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-188x108-1.jpg" alt="..." />
                                    Some link
                                </a>
                            </div>
                        </div>

                        <div class="banner-four-col">
                            <div class="dropdown-container banner align-center cat-4">
                                <a href="#">
                                    <img src="TEMP/banner-188x108-2.jpg" alt="..." />
                                    Some link
                                </a>  
                            </div>
                        </div>

                        <div class="banner-four-col">
                            <div class="dropdown-container banner align-center cat-3">
                                <a href="#">
                                    <img src="TEMP/banner-188x108-3.gif" alt="..." />
                                    Some link
                                </a>   
                            </div>
                        </div>

                        <div class="banner-four-col">
                            <div class="dropdown-container banner align-center cat-6">
                                <a href="#">
                                    <img src="TEMP/banner-188x108-4.jpg" alt="..." />
                                    Some link
                                </a>   
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
-->
        <!-- End Four column section -->

        <!-- Start Emergency jobs -->
<!--
        <div class="banner-list">
            <div class="box">
                <div class="box-header">
                    <h3>Some title</h3>
                </div>
                <div class="box-bd">
                    <div class="row">

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-{{industry_category_id}}">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-1.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-1">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-2.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-4">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-3.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-3">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-4.jpg" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-7">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-1.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-4">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-2.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-8">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-3.gif" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                        <div class="banner-eight-col dropdown-single">
                        
                            <div class="dropdown-container banner cat-9">
                                <a href="#">
                                    <img src="TEMP/banner-113x50-4.jpg" alt="..." />
                                    <div class="banner-icon">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-bd">
                                        <div class="row">
                                            <div class="dropdown-links">
                                                <ul>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                    <li><a href="#">Some link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-footer">
                                        <div class="row">
                                            <div class="dropdown-footer-col">
                                                <a href="#" class="read-more"><span class="i18n"><?=_('Read more'); ?></span> <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>    
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Emergency jobs -->

        <!-- Start Hot jobs -->
<!--
        <div class="banner-list">
            <div class="box">
                <div class="box-header">
                    <h3><i class="fa fa-fire"></i> <span class="i18n"><?=_('Hot jobs'); ?></span></h3>
                </div>
                <div class="box-bd box-lines">
                    <div class="row">

                        <div class="banner-three-col">
                            <ul class="double-col-list">
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                            </ul>
                        </div>

                        <div class="banner-three-col">
                            <ul class="double-col-list">
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                            </ul>
                        </div>

                        <div class="banner-three-col">
                            <ul class="double-col-list">
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                                <li><a href="#">Some link</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
-->
        <!-- End Hot jobs -->

        <!-- Start News Section -->
<!--
        <div class="row">
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three-col">
                <div class="box news-box">
                    <div class="box-header">
                        <h3><i class="fa fa-newspaper-o"></i> <span class="i18n"><?=_('News title'); ?></span></h3>
                    </div>
                    <div class="box-bd">
                        <div class="media-object">
                            <div class="media-img">
                                <a href="#"><img src="img/round-img.jpg" class="rounded" alt="..."></a>
                            </div>
                            <div class="media-bd">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        <!-- End News Section -->

        <!-- Start City listing -->
        <div class="city-listing">
            <ul>
{{#foreach regions}}
    {{#isNotEmptyArray item}}
                <li class="letter">{{key}}</li>
            {{#foreach item}}
                <li><a href="#region?id={{item.id}}" class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</a></li>
            {{/foreach}}
    {{/isNotEmptyArray}}
{{/foreach}}
            </ul>
        </div>
        <!-- End City listing -->

        {{#if popular_videos}}
        <!-- popular videos -->
        <div class="viewport videos popular-videos">
            <div class="actions right">
                <a href="#videos" class="small-button i18n"><?=_('More jobs');?></a>
                <a href="#create-video" class="small-button i18n only-mentors"><?=_('Create job');?></a>
            </div>

            <h2 class="i18n"><?=_('Popular Jobs');?></h2>
            <div class="flipsnap" id="home-videos-popular">
                <ul>
                {{#each popular_videos}}
                    {{> popular_video this}}
                {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}

        {{#if popular_mentors}}
        <!-- popular mentors -->
        <div class="viewport mentors popular-mentors">
            <div class="actions right">
                <a href="#mentors" class="small-button i18n"><?=_('More companies');?></a>
            </div>

            <h2 class="i18n"><?=_('Popular companies');?></h2>
            <div class="flipsnap" id="home-mentors-popular">
                <ul>
                {{#each popular_mentors}}
                    {{> popular_mentor this}}
                {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}

        {{#if featured_videos}}
        <!-- famous enterprise videos -->
        <div class="viewport videos famous-enterprise-videos">
            <div class="actions right">
                <a href="#videos" class="small-button i18n"><?=_('More jobs');?></a>
            </div>

            <h2 class="i18n"><?=_('Famous Enterprise Jobs');?></h2>
            <div class="flipsnap" id="home-videos-featured">
                <ul>
                    {{#each featured_videos}}
                        {{> popular_video this}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}
    </div>
</main>
<!-- End Main -->
