<!-- Start Main -->
<main>
    <div class="container">

{{#if me}}
    <h1 class="i18n"><?=_('Create Résumé');?></h1>

    <form id="create-resume-form" action="resumes/" method="post" data-before-submit="return $.pages['user.create-resume'].before_submit(data);" data-after-submit="$.pages['user.create-resume'].update_cb(response);">
        <p class="i18n"><?=_('Fill out the information below to generate a new PDF résumé.');?></p>

        <h2 class="i18n"><?=_('Personal information'); ?></h2>
        <label for="zh_personal_information" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_personal_information" name="zh_personal_information" placeholder="如个人姓名、政治面貌、出生年月、民族、性别、地址等">{{me.resume_zh_personal_information}}</textarea>
        </div>
        <label for="en_personal_information" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_personal_information" name="en_personal_information" placeholder="Information about yourself such as your name, date of birth, nationality, sex, etc.">{{me.resume_en_personal_information}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Career objective'); ?></h2>
        <label for="zh_career_objective" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_career_objective" name="zh_career_objective" placeholder="">{{me.resume_zh_career_objective}}</textarea>
        </div>
        <label for="en_career_objective" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_career_objective" name="en_career_objective" placeholder="Your desired location, industry, position and salary. List your current situation, and the type of employment you are seeking.">{{me.resume_en_career_objective}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Self Assessment'); ?></h2>
        <label for="zh_self_assessment" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_self_assessment" name="zh_self_assessment" placeholder="* 会计本科、中级职称。ACCA 会员，英文流利，
* 10年以上工作经验，5年以上制造型企业，5年以上外贸工作经验，精通国际结算及投融资管理，
* 精通金碟、用友、QUICK BOOK，Microsoft Dynamics NA等软件
* 了解中国企业在香港、欧洲（荷兰、葡萄牙）建立代表处及分公司的政策及财税事项
* 良好的部门沟通能力、团队协作精神、独立分析解决问题能力，
* 工作严谨, 责任心强，
* 有较强的自我学习能力、开朗、大方。">{{me.resume_zh_self_assessment}}</textarea>
        </div>
        <label for="en_self_assessment" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_self_assessment" name="en_self_assessment" placeholder="1. More than 10 years of relevant working experiences and 5 years within multi-national Company. 
2. Be familiar with PRC financial policy and tax policy. 
3. Professional with King Dee ERP (K3), MS Office, Quick book, Microsoft Dynamics NAV 
4. Excellent oral & written communication skill both in Mandarin & English 
5. Good at analysis and problem - solving abilities. Good at group cooperation spirit and with determinate leadership. 
6. Be familiar with as a foreign company set up a legal entity in Portugal. 
7. Good at financing both in local bank and foreign bank. 
8. Good at the financial report made under IFRS. 
9. Bachelor degree. Major in accounting. 
10. ACCA member">{{me.resume_en_self_assessment}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Work experience'); ?></h2>
        <label for="zh_work_experience" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_work_experience" name="zh_work_experience" placeholder="">{{me.resume_zh_work_experience}}</textarea>
        </div>
        <label for="en_work_experience" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_work_experience" name="en_work_experience" placeholder="List the positions you have held before, the dates you held them, and the duties you performed for each.">{{me.resume_en_work_experience}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Project experience'); ?></h2>
        <label for="zh_project_experience" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_project_experience" name="zh_project_experience" placeholder="抗原递呈和噬菌体的研究
04 / 2013-06 / 2015 

对文献进行调查，并与其他实验室联系
•协调维护和实验室玻璃器皿
•沟通结果草案和每周进度报告给教授等）">{{me.resume_zh_project_experience}}</textarea>
        </div>
        <label for="en_project_experience" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_project_experience" name="en_project_experience" placeholder="Research on Antigen Presenting with Phage Display
04/2013-06/2015

Conduct survey of literature and liaise with other labs
Coordinate upkeep and sterility of laboratory glassware
Communicated findings and draft weekly progress reports to Professor Smith)">{{me.resume_en_project_experience}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Education background'); ?></h2>
        <label for="zh_education_background" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_education_background" name="zh_education_background" placeholder="2004.12 - 2007.12  福州大学  会计学  本科">{{me.resume_zh_education_background}}</textarea>
        </div>
        <label for="en_education_background" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_education_background" name="en_education_background" placeholder="e.g.  2004.12-2007.12, Fuzhou University, Accounting, Bachelor">{{me.resume_en_education_background}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Language skills'); ?></h2>
        <label for="zh_language_skills" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_language_skills" name="zh_language_skills" placeholder="读写能力良好">{{me.resume_zh_language_skills}}</textarea>
        </div>
        <label for="en_language_skills" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_language_skills" name="en_language_skills" placeholder="Proficient in reading & writing in English & Chinese. Some Spanish.">{{me.resume_en_language_skills}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Professional skills'); ?></h2>
        <label for="zh_professional_skills" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_professional_skills" name="zh_professional_skills" placeholder="OFFICE 办公软件, PS">{{me.resume_zh_professional_skills}}</textarea>
        </div>
        <label for="en_professional_skills" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_professional_skills" name="en_professional_skills" placeholder="Office, Photoshop, etc.">{{me.resume_en_professional_skills}}</textarea>
        </div>

        <h2 class="i18n"><?=_('Award certificates'); ?></h2>
        <label for="zh_award_certificates" class="i18n"><?=_('Chinese');?></label>
        <div data-role="fieldcontainer">
            <textarea id="zh_award_certificates" name="zh_award_certificates" placeholder="在上海奥颂实业有限公司工作期间，荣获公司2009年度 “专业技能奖”、 “年度贡献奖”，并取得证书及奖励。">{{me.resume_zh_award_certificates}}</textarea>
        </div>
        <label for="en_award_certificates" class="i18n"><?=_('English');?></label>
        <div data-role="fieldcontainer">
            <textarea id="en_award_certificates" name="en_award_certificates" placeholder='e.g. In the Shanghai Austrian Industrial Co., Ltd. during the work, won the company's 2009 annual "Professional Skills Award", "Annual Contribution Award", and obtain certificates and awards.'>{{me.resume_en_award_certificates}}</textarea>
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Create'); ?>" class="i18n">
        </div>
    </form>

    <div id="create-resume-review" style="display: none;">
        <h2 class="i18n"><?=_('Review your new résumés'); ?></h2>

        <a id="review-resume-en-link" href="#" class="small-button br pdf i18n"><?=_('View My English Résumé');?></a>
        <a id="review-resume-zh-link" href="#" class="small-button br pdf i18n"><?=_('View My Chinese Résumé');?></a>

        <h2 class="i18n"><?=_('Do you like your new résumés?'); ?></h2>
        <form action="users/" method="put" data-before-submit="return $.pages['user.create-resume'].before_accept(data);" data-after-submit="$.pages['user.create-resume'].accept_resumes_cb(response);">
            <input type="hidden" name="resume_en_uri" value="" />
            <input type="hidden" name="resume_zh_uri" value="" />

            <div data-role="fieldcontainer">
                <br>
                <input type="submit" value="<?=_('Yes! Save my new résumés'); ?>" class="i18n">
                <br>
                <input type="submit" value="<?=_('No, let me make changes'); ?>" onclick="return $.pages['user.create-resume'].reject_resumes(response);" class="i18n">
            </div>
        </form>
    </div>
{{/if}}

    </div>
</main>
<!-- End Main -->

