<!-- Start Main -->
<main>
    <div class="container">

{{#if me}}
    <h1 class="i18n"><?=_('My Résumés');?></h1>

    <div class="user-header" style="background-image: url('{{me.profile_pic}}');">
        <div class="overlay">
            <img class="profile_pic" src="{{me.profile_pic}}" />
            <div class="info">
                <h1 class="title">{{me.first_name}}{{#if me.last_name}} {{me.last_name}}{{/if}}</h1>
            </div>
        </div>
    </div>

    <form action="users/" method="put" data-before-submit="return $.pages['user.my-resumes'].before_submit(data);" data-after-submit="$.pages['user.my-resume'].update_cb(response);">
        <h2 class="i18n"><?=_('Your résumés'); ?></h2>

        {{#if me.resume_en_uri}}
        <a href="{{me.resume_en_uri}}" onclick="window.open('{{me.resume_en_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button br pdf"><span class="i18n"><?=_('View My English Résumé');?></span> ({{#isNull me.resume_en_approved_at}}<span class="i18n"><?=_('NOT APPROVED YET');?></span>{{else}}<span class="i18n"><?=_('Approved');?></span> {{me.resume_en_approved_at_human}}{{/isNull}})</a>
        {{/if}}
        {{#if me.resume_zh_uri}}
        <a href="{{me.resume_zh_uri}}" onclick="window.open('{{me.resume_zh_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button br pdf"><span class="i18n"><?=_('View My Chinese Résumé');?></span> ({{#isNull me.resume_zh_approved_at}}<span class="i18n"><?=_('NOT APPROVED YET');?></span>{{else}}<span class="i18n"><?=_('Approved');?></span> {{me.resume_zh_approved_at_human}}{{/isNull}})</a>
        {{/if}}

        <p>
            <a href="#create-resume" class="small-button write i18n"><?=_('Create a résumé');?></a> <span class="i18n"><?=_('or upload one below');?></span>
            <span style="float: right;"><a href="#resume-tips" class="small-button question i18n"><?=_('What should I put in my video résumé?');?></a></span>
        </p>

        <label for="resume_en" class="i18n"><?=_('Upload a résumé (English)'); ?></label>
        <div data-role="fieldcontainer">
            <button id="resume_en_uri-select" class="i18n"><?=_('Select image or PDF'); ?></button>
            <input type="file" id="resume_en" name="resume_en" accept="image/*; capture=camera">
            <input type="hidden" id="resume_en_uri" name="resume_en_uri" value="{{me.resume_en_uri}}" />
            <progress max="100" value="0" id="resume_en_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="resume_en_uri-upload-percentage">0</span>%</span>
        </div>

        <label for="resume_zh" class="i18n"><?=_('Upload a résumé (Chinese)'); ?></label>
        <div data-role="fieldcontainer">
            <button id="resume_zh_uri-select" class="i18n"><?=_('Select image or PDF'); ?></button>
            <input type="file" id="resume_zh" name="resume_zh" accept="image/*; capture=camera">
            <input type="hidden" id="resume_zh_uri" name="resume_zh_uri" value="{{me.resume_zh_uri}}" />
            <progress max="100" value="0" id="resume_zh_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="resume_zh_uri-upload-percentage">0</span>%</span>
        </div>

        <h2><span class="i18n"><?=_('Your video résumé');?></span></h2>
        {{#if me.video_uri}}
        <div class="resume-video-container video-container"></div>
        {{else}}
            {{#if me.raw_video_uri}}
        <div class="resume-video-container video-container">
            <p class="processing i18n"><?=_('Your video résumé is still processing...');?></p>
        </div>
            {{/if}}
        {{/if}}
        <label for="raw_video_uri" class="i18n"><?=_('Upload a video résumé'); ?></label>
        <div data-role="fieldcontainer">
            <button id="raw_video_uri-select" class="i18n"><?=_('Select video'); ?></button>
            <input type="file" name="video" accept="video/*; capture=camera">
            <input type="hidden" id="raw_video_uri" name="raw_video_uri" />
            <progress max="100" value="0" id="raw_video_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="raw_video_uri-upload-percentage">0</span>%</span>
        </div>

        <div data-role="fieldcontainer">
            <input type="submit" value="<?=_('Save'); ?>" class="i18n">
        </div>
    </form>
{{/if}}

    </div>
</main>
<!-- End Main -->

