<!-- Start Main -->
<main>
    <div class="container">

    {{#if auction}}
        <div class="details-wrapper">
            <div class="title">
                <h1 class="i18n" data-i18n-zh_cn="{{industry_name_zh}}">{{auction.industry_name_en}}</h1>
                <div class="sub-title">
        {{#if auction.me.is_student}}
                    <p><span class="i18n"><?=_('Open date');?></span>: {{auction.open_date_human}}</p>
                    <p><span class="i18n"><?=_('Close date');?></span>: {{auction.close_date_human}}</p>
                    <p><span class="i18n"><?=_('End date');?></span>: {{auction.end_date_human}}</p>
        {{else}}
                    <p><span class="i18n"><?=_('Auction start date');?></span>: {{auction.auction_date_human}}</p>
                    <p><span class="i18n"><?=_('End date');?></span>: {{auction.end_date_human}}</p>
        {{/if}}
                </div>
            </div>

            <div class="content">
                <strong class="i18n"><?=_('Description');?>:</strong>
                <p class="line-breaks">{{auction.description}}</p>
            </div>
        </div>

        <h2 class="i18n"><?=_('Auction status');?></h2>
        {{#equal auction.status 'upcoming'}}
        <p class="i18n"><?=_('This auction has not yet started.');?></p>
        {{/equal}}
        {{#equal auction.status 'open'}}
        <p class="i18n"><?=_('This auction is currently open to new candidates that wish to join.');?></p>
        {{/equal}}
        {{#equal auction.status 'closed'}}
        <p class="i18n"><?=_('Candidates are currently being selected for this auction.');?></p>
        {{/equal}}
        {{#equal auction.status 'active'}}
        <p class="i18n"><?=_('This auction is currently active, and offers may be sent and received.');?></p>
        {{/equal}}
        {{#equal auction.status 'ended'}}
        <p class="i18n"><?=_('This auction has ended.');?></p>
        {{/equal}}

        <!-- Join -->
        {{#equal auction.me.is_student 1}}
            {{#if is_joined}}
        <p><span class="i18n"><?=_('You joined');?></span>: {{auction.me.join_date_human}}</p>
            {{else}}
                {{#equal auction.status 'open'}}
        <form id="auctions-form" action="hiring-pools-users/" method="post" data-after-submit="$.pages['auctions.details'].after_submit(response);">
            <div data-role="fieldcontainer">
                <input type="hidden" name="hiring_pool_id" value="{{auction.id}}">
                <div data-role="fieldcontainer">
                    <input type="submit" value="<?=_('Join now'); ?>" class="i18n">
                </div>
            </div>
        </form>
        <p class="i18n" style="text-align: center;"><?=_('By joining this auction your profile will become visible only within the auction, until the auction has ended.');?></p>
                {{/equal}}
            {{/if}}
        {{/equal}}

        <!-- Selected Candidates -->
        {{#equal auction.me.is_mentor 1}}
            {{#compare auction.status '!=' 'upcoming'}}{{#compare auction.status '!=' 'active'}}{{#compare auction.status '!=' 'ended'}}
        <h2 class="i18n"><?=_('Selected candidates');?></h2>
        <p><span class="i18n"><?=_('Candidates for this auction are still being selected.');?></span> <span class="i18n"><?=_('Please check back on');?></span> {{auction.auction_date_human}}</p>
            {{/compare}}{{/compare}}{{/compare}}
        {{/equal}}
        {{#equal auction.status 'active'}}
        <h2 class="i18n"><?=_('Selected candidates');?></h2>
            {{#if auction.users}}
        <div class="viewport students">
            <div class="flipsnap" id="candidates-top">
                {{#each auction.users}}
                <div class="item-wrapper">
                    {{#equal ../auction.me.is_mentor 1}}
                    <div class="small-button br">
                        <a href="#auction-offer?to_user_id={{id}}&hiring_pool_id={{../auction.id}}" class="small-button write i18n"><?=_('Send offer'); ?></a>
                    </div>
                    {{/equal}}
                            {{> top this}}
                </div>
                {{/each}}
            </div>
        </div>
            {{else}}
        <p class="i18n"><?=_('No candidates have been selected for this auction.');?></p>
            {{/if}}
        {{/equal}}

        <!-- Offers -->
        {{#if auction.me}}
            {{#equal auction.me.is_mentor 1}}
                {{#compare auction.status '!=' 'upcoming'}}{{#compare auction.status '!=' 'open'}}{{#compare auction.status '!=' 'closed'}}
        <h2 class="i18n"><?=_('Sent offers');?></h2>
                    {{#if auction.offers}}
        <div class="viewport offer-group">
            <div class="flipsnap" id="auction-offers">
                        {{#each auction.offers}}
                <a href="#candidate?id={{to_user_id}}" class="item ui-link">
                    <div class="info">
                        <div class="content">
                            <div class="pic" style="background-image: url('{{to_user_pic}}');"></div>
                            <p><span class="i18n"><?=_('Sent to');?></span>: {{to_user_name}}</p>
                            <div class="i18n sub-name" data-i18n-zh_cn="{{wage_range_name_zh}}">{{wage_range_name_en}}</div>
                            <p><span class="i18n"><?=_('Sent');?></span>: {{created_at_human}}</p>
                            {{#isNotNull accepted_at}}
                            <p><span class="i18n"><?=_('Status');?></span>: <span class="success i18n"><?=_('Accepted');?></span></p>
                            {{else}}
                            <p><span class="i18n"><?=_('Status');?></span>: <span class="warning i18n"><?=_('Pending');?></span></p>
                            {{/isNotNull}}
                        </div>
                    </div>
                </a>
                        {{/each}}
            </div>
        </div>
                    {{else}}
        <p class="i18n"><?=_('You have not sent any offers in this auction yet.');?></p>
                    {{/if}}
                {{/compare}}{{/compare}}{{/compare}}
            {{/equal}}
            {{#equal auction.me.is_student 1}}
        <h2 class="i18n"><?=_('Received offers');?></h2>
                {{#if auction.offers}}
        <div class="viewport offer-group">
            <div class="flipsnap" id="auction-offers">
                    {{#each auction.offers}}
                <a href="#candidate?id={{to_user_id}}" class="item ui-link">
                    <div class="info">
                        <div class="content">
                            <div class="pic" style="background-image: url('{{from_user_pic}}');"></div>
                            <div class="name">{{from_user_name}}</div>
                            <div class="i18n sub-name" data-i18n-zh_cn="{{wage_range_name_zh}}">{{wage_range_name_en}}</div>
                            <p><span class="i18n"><?=_('Created date');?></span>: {{created_at_human}}</p>
                        {{#isNotNull accepted_at}}
                            <p class="success"><span class="i18n"><?=_('Status');?></span>: Accepted</p>
                            <p><span class="i18n"><?=_('Accepted date');?></span>: {{accepted_at_human}}</p>
                        {{else}}

                        {{/isNotNull}}
                        </div>
                    </div>
                        {{#isNull accepted_at}}
                    <div class="button-group">
                        <a href="#" class="small-button i18n" onclick="$.pages['auctions.details'].check_offer({{id}}, true)"><?=_('Accept'); ?></a>
                        <a href="#" class="small-button i18n" onclick="$.pages['auctions.details'].check_offer({{id}}, false)"><?=_('Reject'); ?></a>
                    </div>
                        {{/isNull}}
                </a>
                    {{/each}}
            </div>
        </div>
            {{else}}
        <p class="i18n"><?=_('You have not received any offers in this auction yet.');?></p>
                {{/if}}
            {{/equal}}
        {{/if}}

    {{/if}}


    </div>
</main>
<!-- End Main -->

