<!-- Start Main -->
<main>
    <div class="container">

    <h1 class="i18n"><?=_('Forgot Password');?></h1>
    <form action="forgot-password" method="post" data-after-submit="$.pages['login.forgot-password'].cb(response);">
        <div>
            <label for="login" class="i18n"><?=_('Enter your login'); ?></label>
            <div data-role="fieldcontainer">
                <input type="text" name="login" class="i18n" placeholder="<?php echo _('Email/cell phone/username'); ?>" data-required="true">
            </div>
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Go'); ?>" class="i18n">
        </div>
    </form>

    </div>
</main>
<!-- End Main -->