<!-- Start Main -->
<main>
    <div class="container">

    <h1 class="i18n"><?=_('Reset Password');?></h1>
    <form action="reset-password" method="put" data-validate="{'rules': {'password_confirm': {'equalTo': '#password'}},'messages': {'password_confirm': {'equalTo': 'Your new passwords must match.'}}}" data-after-submit="$.pages['login.reset-password'].cb(response);">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="hash" value="{{hash}}">

        <label for="password" class="i18n"><?=_('Change your password'); ?></label>
        <div data-role="fieldcontainer">
            <input type="password" id="password" name="password" class="i18n" placeholder="<?php echo _('Enter a new password'); ?>" data-human-name="New password" data-required="true">
        </div>
        <div data-role="fieldcontainer">
            <input type="password" id="password_confirm" name="password_confirm" class="i18n" placeholder="<?php echo _('Re-enter your new password'); ?>" data-human-name="Confirm new password" data-required="true">
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Go'); ?>" class="i18n">
        </div>
    </form>

    </div>
</main>
<!-- End Main -->