<!-- Start Main -->
<main>
    <div class="container">

{{#if user}}
    <div class="user-header" style="background-image: url('{{user.profile_pic}}');">
        <div class="overlay">
            <img class="profile_pic" src="{{user.profile_pic}}" />
            <div class="info">
                <h1 class="title">{{user.display_name}}</h1>
                <div class="contact-candidate small-button br" style="{{#if user.circle.protege.status}}{{else}}display: none;{{/if}}">
                    {{#if user.resume_en_uri}}
                    <div class="only-en_US"><a href="{{user.resume_en_uri}}" onclick="window.open('{{user.resume_en_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button pdf i18n"><?=_('View PDF résumé');?></a></div>
                    {{/if}}
                    {{#if user.resume_zh_uri}}
                    <div class="only-zh_CN"><a href="{{user.resume_zh_uri}}" onclick="window.open('{{user.resume_zh_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button pdf i18n"><?=_('View PDF résumé');?></a></div>
                    {{/if}}
                    <div class="small-button br">
                        <a href="#compose-message?to_id={{user.id}}" class="small-button write i18n"><?=_('Send message'); ?></a>
                    </div>
                    {{#isNotNull user.one_on_one_price_rmb}}
                    <a href="#request-interview?candidate_id={{user.id}}" class="small-button chat i18n"><?=_('Request interview'); ?></a>
                    {{/isNotNull}}
                </div>
                {{#ifNot user.circle.protege.status}}
                    {{#isNotEmptyArray user.current_auctions}}
                <div class="small-button br">
                    <a href="#candidate?id={{user.id}}" onclick="return false;" class="small-button disabled x i18n"><?=_('This candidate may not be contacted'); ?></a>
                    <div class="rounded small-button" style="padding: 5px 8px; background-color: #cdc; color: #000;">
                        <span class="i18n"><?=_('This candidate may only be contacted through an auction that they are currently in');?></span>:<br>
                        <ul>
                        {{#each user.current_auctions}}
                            <li style="list-style-position: inside;"><a href="#auction?id={{hiring_pool_id}}" class="i18n" data-i18n-zh_cn="{{industry_name_zh}}">{{industry_name_en}} auction</a></li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                    {{else}}
                <div class="small-button br only-mentors">
                    <a href="#candidate?id={{user.id}}" onclick="$.pages['candidates.details'].request('protege', {{user.id}}); return false;" id="request-protege" class="small-button write"><span class="i18n"><?=_('Contact this candidate'); ?></span> ({{user.contact_price_credits}} {{#equal user.contact_price_credits 1}}<span class="i18n"><?=_('credit');?></span>{{else}}<span class="i18n"><?=_('credits');?></span>{{/equal}})</a>
                </div>
                    {{/isNotEmptyArray}}
                {{/ifNot}}
            </div>
        </div>
    </div>

    <div class="user-video-container video-container">
    {{#if user.video_uri}}
    {{else}}
        {{#if user.raw_video_uri}}
        <p class="processing i18n"><?=_('The video résumé for this candidate is still processing...');?></p>
        {{/if}}
    {{/if}}
    </div>

    <div class="content">
        <div class="info-tiles">
{{#if user.education_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Education');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.education_name_zh}}">{{user.education_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.experience_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Work experience');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.experience_name_zh}}">{{user.experience_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.availability_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Availability');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.availability_name_zh}}">{{user.availability_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.desired_wage_range_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Desired wage');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.desired_wage_range_name_zh}}">{{user.desired_wage_range_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.desired_industries}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Industries interested in');?></h2>
    {{#each user.desired_industries}}
                    <span class="i18n comma-list-item" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</span>
    {{/each}}
                </div>
            </div>
{{/if}}
{{#if user.desired_positions}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Job positions interested in');?></h2>
    {{#each user.desired_positions}}
                    <span class="i18n comma-list-item" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</span>
    {{/each}}
                </div>
            </div>
{{/if}}
{{#if user.desired_regions}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Locations interested in');?></h2>
    {{#each user.desired_regions}}
                    <span class="i18n comma-list-item" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</span>
    {{/each}}
                </div>
            </div>
{{/if}}
{{#if user.languages_spoken}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Languages spoken');?></h2>
    {{#each user.languages_spoken}}
                    <span class="i18n comma-list-item" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</span>
    {{/each}}
                </div>
            </div>
{{/if}}
{{#if user.current_company_name}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Current company');?></h2>
                    <span>{{user.current_company_name}}</span>
                </div>
            </div>
{{/if}}
{{#if user.current_industry_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Current industry');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.current_industry_name_zh}}">{{user.current_industry_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.current_position_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Current job position');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.current_position_name_zh}}">{{user.current_position_name_en}}</span>
                </div>
            </div>
{{/if}}
{{#if user.current_region_name_en}}
            <div class="info-tile">
                <div class="info-tile-content">
                    <h2 class="i18n"><?=_('Current location');?></h2>
                    <span class="i18n" data-i18n-zh_cn="{{user.current_region_name_zh}}">{{user.current_region_name_en}}</span>
                </div>
            </div>
{{/if}}

        </div>
    </div>
{{/if}}

    </div>
</main>
<!-- End Main -->