        <!-- Start Search form -->
        <div class="search-form">
            <h2 class="i18n"><?=_('Search candidates');?></h2>
            <form id="candidates-search-form" action="students/" method="get" class="yamm search-top" data-before-submit="return $.pages['candidates.search-form'].before_submit(data);">
                <div class="row">
                    <!-- Start Position -->
                    <div class="search-col-four">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_desired_position" class="autocomplete i18n" data-autocomplete-src="positions" placeholder="<?=_('Desired Job Position');?>" value="{{post.q_desired_position}}" tabindex="1">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown desired_positions">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach positions}}
                                    <li>
                                        <div class="row">
                                            <div class="four-col i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                            <div class="three-of-fourth">
                                                <div class="row">
                                                {{#foreach item.items}}
                                                    <div class="three-col item">
                                                        <a href="?" class="toggle-btn"><i class="fa fa-plus"></i> <span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span></a>
                                                        <div class="toggle-content">
                                                            {{#foreach item.items}}
                                                            <label>
                                                                <input type="checkbox" id="desired_position-{{item.id}}" name="desired_position-{{item.id}}" data-role="none"{{#dropdown 'desired_position' item.id ../../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                            </label>
                                                            {{/foreach}}
                                                        </div>
                                                    </div>
                                                {{/foreach}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Position -->

                    <!-- Start Industry -->
                    <div class="search-col-four">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_desired_industry" class="autocomplete i18n" data-autocomplete-src="industries" placeholder="<?=_('Desired Industry');?>" value="{{post.q_desired_industry}}" tabindex="2">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown desired_industries">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach industries}}
                                    <li>
                                        <div class="row">
                                            <div class="three-col group" class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                            <div class="two-of-third">
                                                <div class="row">
                                                {{#foreach item.items}}
                                                    <div class="two-col item">
                                                        <label>
                                                            <input type="checkbox" name="desired_industry-{{item.id}}" data-role="none"{{#dropdown 'desired_industry' item.id ../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                        </label>
                                                    </div>
                                                {{/foreach}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- End Industry -->

                    <!-- Start Location -->
                    <div class="search-col-four">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_desired_location" class="autocomplete i18n" data-autocomplete-src="regions" placeholder="<?=_('Desired Location');?>" value="{{post.q_desired_location}}" tabindex="3">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown desired_locations">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
{{#foreach regions}}
    {{#isNotEmptyArray item}}
        {{#foreach item}}
                                            <div class="four-col">
                                                <label>
                                                    <input type="checkbox" name="desired_location-{{item.id}}" data-role="none"{{#dropdown 'desired_location' item.id ../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                </label>
                                            </div>
        {{/foreach}}
    {{/isNotEmptyArray}}
{{/foreach}}
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- End Location -->

                    <!-- Start Wage Range -->
                    <div class="search-col-four">
                        <div class="search-form-container">
                            <select name="q_desired_wage_range">
                                <option class="i18n" value=""><?=_('Desired Wage');?></option>
                                {{#select post.q_desired_wage_range}}
                                    {{#each wage_ranges}}
                                    <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}"{{#equal post.q_desired_wage_range id}} selected="selected"{{/equal}}>{{name_en}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <!-- End Wage Range -->
                </div>

                <div class="search-icon-container">
                    <input type="text" name="q_job_position" class="autocomplete i18n" data-autocomplete-src="positions" placeholder="<?=_('Search by job position');?>" value="{{post.q_job_position}}" tabindex="4">

                    <button class="search-icon-btn"><span class="i18n"><?=_('Go');?></span> <i class="fa fa-search"></i></button>

                    <div class="advanced-search-toggles">
                        <a href="#candidates?advanced-search=1" class="advanced" onclick="$('.advanced-search').toggle(); $(this).closest('.advanced-search-toggles').toggleClass('advanced'); return false;"><span class="i18n"><?=_('Advanced Search');?></span> <i class="fa fa-angle-right"></i></a>
                        <a href="#candidates" class="basic" onclick="$('.advanced-search').toggle(); $(this).closest('.advanced-search-toggles').toggleClass('advanced'); return false;"><i class="fa fa-angle-left"></i> <span class="i18n"><?=_('Basic Search');?></span></a>
                    </div>
                </div>

                <div class="row advanced-search" style="display: none;">
                    <!-- Start Position -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_current_position" class="autocomplete i18n" data-autocomplete-src="positions" placeholder="<?=_('Current Job Position');?>" value="{{post.q_current_position}}" tabindex="1">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown current_positions">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach positions}}
                                    <li>
                                        <div class="row">
                                            <div class="four-col i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                            <div class="three-of-fourth">
                                                <div class="row">
                                                {{#foreach item.items}}
                                                    <div class="three-col item">
                                                        <a href="?" class="toggle-btn"><i class="fa fa-plus"></i> <span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span></a>
                                                        <div class="toggle-content">
                                                        {{#foreach item.items}}
                                                            <label>
                                                                <input type="checkbox" id="current_position-{{item.id}}" name="current_position-{{item.id}}" data-role="none"{{#dropdown 'current_position' item.id ../../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                            </label>
                                                        {{/foreach}}
                                                        </div>
                                                    </div>
                                                {{/foreach}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Position -->

                    <!-- Start Industry -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_current_industry" class="autocomplete i18n" data-autocomplete-src="industries" placeholder="<?=_('Current Industry');?>" value="{{post.q_current_industry}}" tabindex="2">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown current_industries">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach industries}}
                                    <li>
                                        <div class="row">
                                            <div class="three-col group" class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                            <div class="two-of-third">
                                                <div class="row">
                                                {{#foreach item.items}}
                                                    <div class="two-col item">
                                                        <label>
                                                            <input type="checkbox" name="current_industry-{{item.id}}" data-role="none"{{#dropdown 'current_industry' item.id ../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                        </label>
                                                    </div>
                                                {{/foreach}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Industry -->

                    <!-- Start Location -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <input type="text" name="q_current_location" class="autocomplete i18n" data-autocomplete-src="regions" placeholder="<?=_('Current Location');?>" value="{{post.q_current_location}}" tabindex="3">

                            <div class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu search-form-dropdown current_locations">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
{{#foreach regions}}
    {{#isNotEmptyArray item}}
        {{#foreach item}}
                                            <div class="four-col">
                                                <label>
                                                    <input type="checkbox" name="current_location-{{item.id}}" data-role="none"{{#dropdown 'current_location' item.id ../../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                </label>
                                            </div>
        {{/foreach}}
    {{/isNotEmptyArray}}
{{/foreach}}
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- End Location -->
                </div>

                    <!-- Start Experience -->
                <div class="row advanced-search" style="display: none;">
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_experience" class="i18n" placeholder="<?=_('Experience Required');?>" value="{{post.q_experience}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown experience">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach experience_requirements}}
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" id="experience-{{item.id}}" name="experience-{{item.id}}" data-role="none"{{#dropdown 'experience' item.id ../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                            </label>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- End Experience -->

                    <!-- Start Education Background -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_education" class="i18n" placeholder="<?=_('Education Background');?>" value="{{post.q_education}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown education">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach education_requirements}}
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="education-{{item.id}}" data-role="none"{{#dropdown 'education' item.id ../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                            </label>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div> 
                        </div> 
                    </div>
                    <!-- End Education Background -->

                    <!-- Start Availability -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_availability" class="i18n" placeholder="<?=_('Availability');?>" value="{{post.q_availability}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown availability">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach availabilities}}
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="availability-{{item.id}}" data-role="none"{{#dropdown 'availability' item.id ../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                            </label>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div> 
                        </div> 
                    </div>
                    <!-- End Availability -->
                </div>

                <div class="row advanced-search" style="display: none;">

                    <!-- Start Languages Spoken -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_language" class="i18n" placeholder="<?=_('Languages Spoken');?>" value="{{post.q_language}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown languages">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
{{#foreach languages}}
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="language-{{item.id}}" data-role="none"{{#dropdown 'language' item.id ../post}} checked="checked"{{/dropdown}}><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                            </label>
                                        </div>
                                    </li>
{{/foreach}}
                                </ul>
                            </div> 
                        </div> 
                    </div>
                    <!-- End Languages Spoken -->

                    <!-- Start Gender -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_gender" class="i18n" placeholder="<?=_('Gender');?>" value="{{post.q_gender}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown gender">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="gender-M" data-role="none"{{#dropdown 'gender' 'M' post}} checked="checked"{{/dropdown}}><span class="i18n"><?=_('Male');?></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="gender-F" data-role="none"{{#dropdown 'gender' 'F' post}} checked="checked"{{/dropdown}}><span class="i18n"><?=_('Female');?></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- End Gender -->

                    <!-- Start Resume -->
                    <div class="search-col-three">
                        <div class="dropdown-container search-form-container">
                            <div class="dropdown no-input yamm-fw">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <input type="text" name="q_resume" class="i18n" placeholder="<?=_('Résumé');?>" value="{{post.q_resume}}">
                                    <a href="#"><i class="fa fa-angle-down"></i></a>
                                </div>
                                <ul class="dropdown-menu fit search-form-dropdown resume">
                                    <li class="actions">
                                        <div class="row">
                                            <a href="?" class="any small-button i18n"><?=_('Any');?></a>
                                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="resume-video" data-role="none"{{#dropdown 'resume' 'video' post}} checked="checked"{{/dropdown}}><span class="i18n"><?=_('Video');?></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <label>
                                                <input type="checkbox" name="resume-pdf" data-role="none"{{#dropdown 'resume' 'pdf' post}} checked="checked"{{/dropdown}}><span class="i18n"><?=_('Pdf');?></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- End Resume -->
                </div>

                <div class="advanced-search" style="display: none; margin-bottom: 10px;">
                    <input type="text" name="q_current_company_name" class="autocomplete i18n" data-autocomplete-src="mentors" placeholder="<?=_('Current Company Name');?>" value="{{post.q_current_company_name}}">
                </div>

                <div class="advanced-search" style="display: none;">
                    <button class="search-icon-btn"><span class="i18n"><?=_('Search');?></span> <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <!-- End Search form -->