    <!-- Search form -->
    <form id="mentors-search-form" action="mentors/" method="get" class="yamm search-top" data-before-submit="return $.pages['mentors.search-form'].before_submit(data);">
        <input type="search" name="q" placeholder="<?=_('Search');?>" value="{{search_q}}" class="autocomplete i18n" data-autocomplete-src="mentors">

        <div class="search-fields" style="display: none;">
            <div class="search-spacer">.</div>

            <div data-role="fieldcontainer">
                <input type="submit" value="<?=_('Search'); ?>" class="i18n">
            </div>
        </div>
    </form>
