/* Override MyKongzi styles */

.ui-mobile .ui-page-active,
.ui-content {
    overflow-x: visible;
}


/* Scrollbar
-------------------------------------------------*/
*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Header
-------------------------------------------------*/
.desktop_header {
    position: relative;
    height: auto;
    background-color: transparent;
}
.headerWrapper {
    max-width: 100%;
    width: auto;
}
.headerWrapper .logo {
    display: block;
    float: none;
    margin-top: 0;
    span {
        display: block;
        width: auto;
        height: auto;
        background: transparent;
    }
}
.flexslider {
    height: auto;
}
.ui-mobile [data-role=page],
.ui-mobile [data-role=dialog],
.ui-page {
    position: relative;
    padding: 0;
}
.mainContent {
    width: auto;
    min-width: 1px;
    margin-top: 0;
    position: relative;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
nav.main-nav {
    float: none;
    margin: 0;

    ul {
        margin: 0;

        li {
            margin: 0;
            padding: 0;

            a, a:visited, a:active {
                text-transform: none;
                font-size: 1.25rem;
                text-shadow: none;
            }
            a:hover {
/*
                color: #fff !important;
*/
            }

            ul {
                position: relative;
                margin: 0;
                padding: 0;
                background-color: inherit;
                @include rounded(0);

                li {
                    padding: 0;
                    font-size: inherit;

                    a:hover {
/*
                        color: #fff !important;
*/
                    }
                }
            }
        }
    }
}

/* Footer
-------------------------------------------------*/
.desktop_footer {
    position: static;
    color: #666;
    background-color: transparent;

    .qr-codes {
        margin-bottom: 10px;
        text-align: center;
        img {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
.desktop_footer_wrapper {
    max-width: 100%;
    width: auto;
    margin: 0;
    min-width: 1px;
    padding: 0;
}
.desktop_footer_wrapper a {
    color: inherit;
    line-height: inherit;
}
.desktop_footer_wrapper .copyright {
    font-size: inherit;
}

/* TYPOGRAPHY
-------------------------------------------------*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    font-weight: inherit;
}
select, .ui-btn {
    font-family: $fontFamilyPrimary;
    font-weight: inherit;
}
.ui-input-btn input,
a[data-role="button"],
.btn {
    text-shadow: none !important;
}
.login-form div.small a,
.login-form div.small a:active,
.login-form div.small a:visited {
    font-size: inherit;
}

/* Buttons
-------------------------------------------------*/
.ui-input-btn input,
a[data-role="button"],
.btn {
    background-color: rgba(240,220,200,.7) !important;
    color: #333 !important;
    &:hover, &:focus {
        background-color: rgba(255,221,128,.9) !important;
        color: #333 !important;
    }
    border: solid 1px #ddd !important;
}


/* Inputs 
-------------------------------------------------*/
.ui-input-text,
.ui-input-search {
    margin-top: 0;
    margin-bottom: 0;
}
.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-select .ui-btn>span:not(.ui-li-count) {
    text-align: left;
}

/* Search form 
-------------------------------------------------*/
.mainContent .search-form-container .dropdown > a {
    margin-top: -43px;
}
.ui-btn {
    margin: 0;
}
.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* Subpage tabs

-------------------------------------------------*/
.subpage-tabs {
    border-bottom: solid 1px rgba(255,221,128,1);
    margin-bottom: 10px;
    a {
        padding-top: 5px;
        padding-bottom: 3px;
        margin: 0;
        -webkit-border-bottom-left-radius: 0 !important;
        -moz-border-bottom-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        -webkit-border-bottom-right-radius: 0 !important;
        -moz-border-bottom-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        &.current {
            background-color: rgba(255,221,128,1) !important;
        }
    }
}
.userInfo {
	.userDetails {
        .name {
            font-size: 18px !important;
        }
    }
}	