/* AUCTIONS
-------------------------------------------------*/
.auction-group {
    margin-bottom: 20px;
    .item {
        width: 300px;
        border: 1px solid #ddd;
        padding: 10px;
        padding-top: 0;
        overflow: hidden;
        height: 190px;

        &.for_candidates {
            height: 210px;
        }
    }
    .content {
        width: 100%;
        color: #000;

        div.name {
            font-size: 1.2em;
            font-weight: 400;
            border-bottom: 1px solid #ddd;
        }
        p {
            padding: 1px 0px;
        }
    }
}

.details-wrapper {
    .title {
        padding: 50px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
    }
    .sub-title {
        font-size: 1em;
    }
    .content {
        padding: 20px;
        font-size: 0.9em;
    }
}

.date-human {
    font-size: 1.1em;
    span {
        font-weight: 600;
        font-size: 1em;
    }
}
.button-wrapper {
    input {
       width: 50%; 
       margin: 20px auto; 
       border: solid 1px #ccc;
    }
}

.item-wrapper {
    display: inline-block;
    vertical-align: text-top;
}

.offer-group {
    .item {
        width: 160px;
    }

    .button-group {
        text-align: center;
        a {
            font-weight: bold;
        }
        a:first-child {
            background: green;
        }
    }
    .small-button {
        width: 100%;
        text-align: center;
    }
    .sub-name {
        font-size: 13px;
    }
    .success {
        color: green;
    }
    .warning {
        color: #ffa500;
    }

    p {
        font-size: 13px;
        padding: 0px;
    }

    p span {
        font-size: 12px;
        color: #111;
    }
}

.students {
    .small-button {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.login-form-wrapper {
    width: 40%;
    margin: 20px auto;
}


.auction-title {
    height: 60px;
    overflow: hidden;
    display: table;
    width: 100%;
    span {
        display: table-cell;
        vertical-align: middle;

        i {
            display: inline-block;
            margin-right: 8px;
        }
    }
}


