/* AUTOCOMPLETE
-------------------------------------------------*/
.autocomplete-suggestions { 
    border: solid 1px #ccc;
    background: $white; 
    overflow: auto; 
}

.autocomplete-suggestion { 
    padding: 2px 10px; 
    white-space: nowrap; 
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected { 
    background: $colorBgLight; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: $shakespear; 
    text-decoration: underline;
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

.selected-bubbles {
    li {
        display: inline-block;
        list-style-type: none;
        margin: 5px 5px 0 5px;
        padding: 5px 8px;
        @include rounded(5px);
        background-color: #ccc;

        a {
            span {
                display: inline-block;
                padding-right: 10px;
            }

            &:after {
                background-image: url('../app-core/assets/images/x.png');
                background-size: 10px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                content: url('../assets/images/blank-10x10.png');
            }
        }
    }
}