/* CHAT
-------------------------------------------------*/
.chat-video-container {
    width: 45%;
    float: left;

    .their-chat-video-container {
        width: 100%;
        margin: 10px auto;

        #their-chat-video {
            .joining {
                @include rounded(5px);
                padding: 5px;
                background-color: #ccc;
                text-align: center;
            }
        }
    }
    .my-chat-video-container {
        width: 80%;
        margin: 10px auto;

        #my-chat-video {
        }
    }
}

#chat {
    width: 50%;
    float: right;
    border: solid 1px #ccc;
    padding: 10px 7px;
    @include rounded(5px);
}