
.mobile_footer {
    display: none !important;
}

.visible-desktop {
    display: block;
}
.hidden-desktop {
    display: none;
}

.hidden-mobile {
    display: block;
}
.visible-mobile {
    display: none;
}

/* responsive layout */
@media (max-width: 991px) {
    /* main nav */
    .nav-container {
        text-align: center;
    }

    nav.main-nav ul li {
        &.langSelector a {
            display: inline-block;
            margin-bottom: 0px;
            margin-top: 5px;
        }
    }

    /* subpage header */
    .main-header{
        #subpage-header {
            height: 60px;
            .container {
                .logo {
                    display: inline;
                    img {
                        padding: none;
                        width: 70px;
                    }
                    h2 {
                        margin-bottom: 0px;
                        vertical-align: middle;
                        padding-top: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    /* subpage nav */
    nav.main-nav.subpage {
        margin-left: 0px;

        li {
            a {
                background-color: rgba(51,51,51,0.9);
                &:hover {
                    background-color: rgba(51,51,51,0.9);
                }
            }
        }
    }

    /* review stars */
    #rate-mentor,
    #rate-candidate,
    #rate-video {
        span.star_32 {
            padding: 7px;
        }
    }
}

/*layout on mobile*/
@media (max-width: 768px) {
    /* main nav responsive */
    .main-header {
        .container {
            .logo {
                margin-top: 35px;
            }
        }
    }

    .nav-container {
        text-align: center;
    }

    nav.main-nav {
        ul {
            li {
                /*min-width: 100px;*/
            }
        }
    }

    /*candidate search form*/
    #candidates-search-form,
    #videos-search-form {
        .advanced-search {
            ul.dropdown-menu {
                margin-left: 0px;
                width: 100%;
            }
        }
    }

    .mobile_footer {
        display: none;
    }

    .chat-video-container {
        width: 100%;
    }
    #chat {
        width: 80%;
        float: none;
        margin: auto;
        height: 500px;
    }

    #chat-form {
        display: block;
        width: 80%;
        margin: auto;

        > div {
            float: none !important;
            width: 100% !important;
        }
        .ui-btn {
            float: right;
            width: 150px;
        }
    }

    .search-form-dropdown {
        .four-col {
            display: inline;
        }
    }

    #candidates-search-form {
        ul.current_locations,
        ul.desired_locations {
            li {
                .four-col {
                    width: 50%;
                }
            }
        }
    }

    /* Category filter */
    .sticky .category-filter {
        display: none;
    }

    /* dropdowns on homepage */
    .three-of-fourth,
    .two-of-third {
        width: 100%;
    }

    .nav-btn {
        position: fixed;
        .nav-lines {
            background: #afafaf;
        }
    }

    .nav-lines,
    .nav-lines:after, 
    .nav-lines:before {
        background: #afafaf;
    }
    .nav-container {
        display: block;
        width: 100%;
        margin: auto;
    }

    /* video qr code */
    .video-header{ 
        .overlay {
            position: relative;

            .qr-code {
                width: 50px !important;
                position: absolute;
                left: 5px;
                top: 5px;
            }

            h1 {
                padding-top: 30px;
            }
        }
    }

    .mentor-header {
        .overlay {
            position: relative;

            .qr-code {
                width: 50px !important;
                position: absolute;
                right: 5px;
                bottom: 5px;
            }

            .small-button {
                a {
                    display: block;
                    width: 110px;
                }
            }
        }   
    }

}

@media (max-width: 590px) {
    /* registeration page */
    .register-icons {
        li {
            padding: 0 30px;
        }
    }
    .register-blurb {
        width: 100%;
        div.color-shakespear {
            text-align: center !important;
            > div {
                float: none !important;
            }
        }
    }

    .register-login-form {
        width: 100%;
        float: none;
        margin-top: 50px;
    }

    .visible-mobile {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }

    .visible-desktop {
        display: none;
    }
    .hidden-desktop {
        display: block;
    }

}

@media (max-width: 480px) {
    nav.main-nav ul li {
        &.logged-in a {
            display: block;
            margin: auto;
        }
    }

    nav.main-nav ul li a,
    nav.main-nav ul li a:visited,
    nav.main-nav ul li a:active {
        font-size: 1rem;
        padding: 5px;
    }

    .register-icons {
        li {
            padding: 0 10px;
        }
    }

}


/* Mobile menu */ 
@media (max-width: 590px) {
    .nav-mobile {
        display: block;
    }
    .nav-btn {
        display: none;
    }

    /* Interview screen */
    textarea#message {
        min-height: 150px !important;
        overflow-y: scroll !important;
        height: 100% !important;
    }
    div#chat {
        min-height: 200px !important;
    }

}

.nav-mobile {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    cursor: default;
    color: #c8c8c8;
    background: #222;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18px;

    li {
        list-style-type: none;
        width: 10000px;

        a {
            display: block;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #353434;
            color: #c8c8c8;

            &:hover,
            &:focus {
                color: #fff;
            }
        }
        &.langSelector {
            border-top: 1px solid #353434;
            border-bottom: 1px solid #353434;
            padding-left: 20px;
            padding-top: 14px;
            padding-bottom: 8px;
            text-align: left;
            margin-top: -1px;
            a {
                display: inline-block;
            }
        }

        &.my-account {
            ul.sub-menu {
                padding-left: 20px;
                a {
                    padding-left: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-bottom: none;
                    color: #c8c8c8;
                }
            }
        }
    }
}

.nav-mobile-btn {
    width: 48px;
    height: 48px;
    position: fixed;
    background: none;
    border: none;
    top: 5px;
    right: 15px;
    cursor: pointer;

    i {
        color: #b7b7b7;
        font-size: 32px;
    }
}

/* banner on mobile */
@media (min-width: 340px) {

    .banner .banner-icon {
        display: block;
    }
    .banner:hover {
        .dropdown {
            display: block;
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}


.filter-letter {
    .dropdown-menu {
        display: none;
    }
}

.filter-letter.open {
    .dropdown-menu {
        display: block;
    }
}

